body {
  background-image: url("../images/long.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.about-main {
  max-width: 1800px;
  margin: 40px auto 80px;
  padding: 20px;
  display: block;
  min-height: 100vh;
}

/* карточки */

.dve-kartochki {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.cartochka {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: rgba(3, 24, 18, 0.85);
  border-radius: 18px;
  border: 1px solid rgba(34, 197, 94, 0.25);
  box-shadow: 0 15px 40px rgba(0,0,0,0.55);
  padding: 28px;
  backdrop-filter: blur(4px);
  min-height: 260px;
  transition: 0.5s ease;
}

.cartochka p {
  font-size: 14px;
  line-height:35px ;
  text-align: center;
  color: #f9fafb;
  text-shadow: 2px 2px 0 #000;
}

.cartochka:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 55px rgba(0, 0, 0, 0.7);
  border-color: rgba(74, 222, 128, 0.5);
}

/* GitHub иконка */

.github-icon {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-left: 12px;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.lang-switch {
  margin-right: 40px;
}

/* Карточка соцсетей */

.social-card {
  max-width: 1200px;
  margin: 480px auto 40px;
  padding: 40px;
  display: block;
  background: rgba(3, 24, 18, 0.85);
  border-radius: 18px;
  border: 1px solid rgba(34, 197, 94, 0.25);
  box-shadow: 0 15px 40px rgba(0,0,0,0.55);
  backdrop-filter: blur(4px);
}

.socseti {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.social-icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: rgba(3, 24, 18, 0.85);
  border: 1px solid rgba(34, 197, 94, 0.25);
  box-shadow: 0 10px 25px rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
}

.social-icon img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  display: block;
}

/* наведение украл с прошлых карточек */
.social-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 25px 55px rgba(0,0,0,0.7);
  border-color: rgba(74, 222, 128, 0.5);
  transition: 0.5s ease;
}

.social-icon:hover {
  transform: translateY(-6px);
  box-shadow: 0 25px 55px rgba(0,0,0,0.7);
  border-color: rgba(74, 222, 128, 0.5);
  transition: 0.5s ease;
}

.site-footer {
  margin-top: 80px;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;

  background: rgba(3, 24, 18, 0.85);
  border-top: 1px solid rgba(34, 197, 94, 0.25);
}